<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719281309344-nct9omtnostmta3idahghr3j28mddgd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719281309344-nct9omtnostmta3idahghr3j28mddgd6</string>
	<key>API_KEY</key>
	<string>AIzaSyDUmFgeR1YXu9z1gGnw3fnRaBgjPKjLeYk</string>
	<key>GCM_SENDER_ID</key>
	<string>719281309344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>projects.nv.drinkWater</string>
	<key>PROJECT_ID</key>
	<string>drink-water-dwproject</string>
	<key>STORAGE_BUCKET</key>
	<string>drink-water-dwproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719281309344:ios:29ed0d5092441c41e5abc5</string>
	<key>DATABASE_URL</key>
	<string>https://drink-water-dwproject.firebaseio.com</string>
</dict>
</plist>